In [ ]:
%pip install ipython-sql

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///badge_attendance.db

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS students (
    student_id INTEGER PRIMARY KEY AUTOINCREMENT,
    badge_id TEXT UNIQUE,
    name TEXT,
    department TEXT,
    year_or_sem TEXT
);

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS badge_events (
    event_id INTEGER PRIMARY KEY AUTOINCREMENT,
    badge_id TEXT,
    event_time TEXT,
    event_type TEXT,
    FOREIGN KEY (badge_id) REFERENCES students(badge_id)
);

In [ ]:
import sqlite3
import random
from datetime import datetime, timedelta
from faker import Faker

fake = Faker()

In [ ]:
%pip install faker

In [ ]:
import sqlite3

conn = sqlite3.connect("badge_attendance.db")
cursor = conn.cursor()

In [ ]:
NUM_STUDENTS = 2000

departments = ["Engineering", "Science", "Business", "Arts", "Medicine", "Law"]
years = ["1st Year", "2nd Year", "3rd Year", "4th Year"]

students_data = []

for i in range(NUM_STUDENTS):
    badge_id = f"BADGE{i:06d}"
    name = fake.name()
    department = random.choice(departments)
    year = random.choice(years)

    students_data.append((badge_id, name, department, year))

cursor.executemany(
    "INSERT INTO students (badge_id, name, department, year_or_sem) VALUES (?, ?, ?, ?)",
    students_data
)

conn.commit()

print("Students inserted:", len(students_data))

In [ ]:
%config SqlMagic.style = 'plain'

In [4]:
%%sql
SELECT COUNT(*) FROM students;

 * sqlite:///badge_attendance.db
Done.

[(2000,)]

In [ ]:
import prettytable
[x for x in prettytable.__dict__.keys() if x.isupper()]

In [ ]:
%pip install prettytable==3.9.0

In [ ]:
NUM_DAYS = 220
SESSIONS_PER_DAY_MIN = 2
SESSIONS_PER_DAY_MAX = 5
WORK_START_HOUR = 8
WORK_END_HOUR = 17

In [ ]:
cursor.execute("SELECT badge_id FROM students")
badge_ids = [row[0] for row in cursor.fetchall()]

print("Students available:", len(badge_ids))

In [ ]:
from datetime import datetime, timedelta
import random

TARGET_EVENTS = 1_000_000
BATCH_SIZE = 50_000

events_data = []
total_events = 0
batch_no = 0

start_date = datetime(2024, 9, 1)

NUM_DAYS = 220
SESSIONS_PER_DAY_MIN = 2
SESSIONS_PER_DAY_MAX = 4
WORK_START_HOUR = 8
WORK_END_HOUR = 17

for day in range(NUM_DAYS):

    if total_events >= TARGET_EVENTS:
        break

    date = start_date + timedelta(days=day)

    students_today = random.sample(
        badge_ids,
        random.randint(800, 1600)
    )

    for badge in students_today:

        if total_events >= TARGET_EVENTS:
            break

        num_sessions = random.randint(
            SESSIONS_PER_DAY_MIN,
            SESSIONS_PER_DAY_MAX
        )

        for _ in range(num_sessions):

            if total_events >= TARGET_EVENTS:
                break

            # IN time
            in_hour = random.randint(WORK_START_HOUR, WORK_END_HOUR - 1)
            in_min = random.randint(0, 59)

            in_time = date.replace(
                hour=in_hour, minute=in_min,
                second=0, microsecond=0
            )

            events_data.append((badge, in_time.isoformat(), "IN"))
            total_events += 1

            # OUT time
            out_hour = min(in_hour + random.randint(1, 6), WORK_END_HOUR - 1)
            out_min = random.randint(0, 59)

            out_time = date.replace(
                hour=out_hour, minute=out_min,
                second=0, microsecond=0
            )

            if out_time <= in_time:
                out_time = in_time + timedelta(hours=1)

            events_data.append((badge, out_time.isoformat(), "OUT"))
            total_events += 1

            # INSERT BATCH
            if len(events_data) >= BATCH_SIZE:
                cursor.executemany(
                    "INSERT INTO badge_events (badge_id, event_time, event_type) VALUES (?, ?, ?)",
                    events_data
                )
                conn.commit()

                batch_no += 1
                print(f"Batch {batch_no} inserted ({len(events_data)}) — Total {total_events}")

                events_data = []

# insert remaining rows
if events_data:
    cursor.executemany(
        "INSERT INTO badge_events (badge_id, event_time, event_type) VALUES (?, ?, ?)",
        events_data
    )
    conn.commit()

print("\nDONE — Final total:", total_events)

In [5]:
%%sql
SELECT COUNT(*) FROM badge_events;

 * sqlite:///badge_attendance.db
Done.

[(1000000,)]

In [6]:
%%sql
SELECT event_type, COUNT(*)
FROM badge_events
GROUP BY event_type;

 * sqlite:///badge_attendance.db
Done.

[('IN', 500000), ('OUT', 500000)]

In [7]:
%%sql
SELECT *
FROM badge_events
LIMIT 5;

 * sqlite:///badge_attendance.db
Done.

[(2000001, 'BADGE000078', '2024-09-01T09:13:00', 'IN'),
 (2000002, 'BADGE000078', '2024-09-01T12:01:00', 'OUT'),
 (2000003, 'BADGE000078', '2024-09-01T14:26:00', 'IN'),
 (2000004, 'BADGE000078', '2024-09-01T16:28:00', 'OUT'),
 (2000005, 'BADGE000078', '2024-09-01T16:58:00', 'IN')]

In [8]:
%%sql
SELECT event_type, COUNT(*)
FROM badge_events
GROUP BY event_type;

 * sqlite:///badge_attendance.db
Done.

[('IN', 500000), ('OUT', 500000)]

In [9]:
%%sql
SELECT *
FROM badge_events
WHERE badge_id = 'BADGE000123'
LIMIT 10;

 * sqlite:///badge_attendance.db
Done.

[(2012981, 'BADGE000123', '2024-09-02T09:49:00', 'IN'),
 (2012982, 'BADGE000123', '2024-09-02T12:57:00', 'OUT'),
 (2012983, 'BADGE000123', '2024-09-02T15:51:00', 'IN'),
 (2012984, 'BADGE000123', '2024-09-02T16:55:00', 'OUT'),
 (2012985, 'BADGE000123', '2024-09-02T14:55:00', 'IN'),
 (2012986, 'BADGE000123', '2024-09-02T16:13:00', 'OUT'),
 (2012987, 'BADGE000123', '2024-09-02T13:59:00', 'IN'),
 (2012988, 'BADGE000123', '2024-09-02T14:45:00', 'OUT'),
 (2024495, 'BADGE000123', '2024-09-03T13:40:00', 'IN'),
 (2024496, 'BADGE000123', '2024-09-03T16:37:00', 'OUT')]

In [10]:
%%sql
SELECT DATE(event_time) AS day,
       COUNT(*) AS total_events
FROM badge_events
GROUP BY day
ORDER BY day;

 * sqlite:///badge_attendance.db
Done.

[('2024-09-01', 8850),
 ('2024-09-02', 8826),
 ('2024-09-03', 9608),
 ('2024-09-04', 8130),
 ('2024-09-05', 7320),
 ('2024-09-06', 7790),
 ('2024-09-07', 7736),
 ('2024-09-08', 6686),
 ('2024-09-09', 7990),
 ('2024-09-10', 7574),
 ('2024-09-11', 9492),
 ('2024-09-12', 9390),
 ('2024-09-13', 7972),
 ('2024-09-14', 7966),
 ('2024-09-15', 7918),
 ('2024-09-16', 8652),
 ('2024-09-17', 6416),
 ('2024-09-18', 8874),
 ('2024-09-19', 7138),
 ('2024-09-20', 5032),
 ('2024-09-21', 6466),
 ('2024-09-22', 9412),
 ('2024-09-23', 5036),
 ('2024-09-24', 7674),
 ('2024-09-25', 5618),
 ('2024-09-26', 9232),
 ('2024-09-27', 9194),
 ('2024-09-28', 5152),
 ('2024-09-29', 8366),
 ('2024-09-30', 7494),
 ('2024-10-01', 7742),
 ('2024-10-02', 6518),
 ('2024-10-03', 6264),
 ('2024-10-04', 7490),
 ('2024-10-05', 8304),
 ('2024-10-06', 6602),
 ('2024-10-07', 6034),
 ('2024-10-08', 7716),
 ('2024-10-09', 9268),
 ('2024-10-10', 4812),
 ('2024-10-11', 7900),
 ('2024-10-12', 8300),
 ('2024-10-13', 5672),
 ('2024-10-14', 8242),
 ('2024-10-15', 8064),
 ('2024-10-16', 8960),
 ('2024-10-17', 8704),
 ('2024-10-18', 8258),
 ('2024-10-19', 9438),
 ('2024-10-20', 6730),
 ('2024-10-21', 7900),
 ('2024-10-22', 8140),
 ('2024-10-23', 6444),
 ('2024-10-24', 4812),
 ('2024-10-25', 5608),
 ('2024-10-26', 6354),
 ('2024-10-27', 8366),
 ('2024-10-28', 5094),
 ('2024-10-29', 9274),
 ('2024-10-30', 7192),
 ('2024-10-31', 7852),
 ('2024-11-01', 8432),
 ('2024-11-02', 8500),
 ('2024-11-03', 7464),
 ('2024-11-04', 5554),
 ('2024-11-05', 6030),
 ('2024-11-06', 5494),
 ('2024-11-07', 6126),
 ('2024-11-08', 9098),
 ('2024-11-09', 6034),
 ('2024-11-10', 7878),
 ('2024-11-11', 8124),
 ('2024-11-12', 6334),
 ('2024-11-13', 5948),
 ('2024-11-14', 5774),
 ('2024-11-15', 7182),
 ('2024-11-16', 5554),
 ('2024-11-17', 6244),
 ('2024-11-18', 6034),
 ('2024-11-19', 6814),
 ('2024-11-20', 5640),
 ('2024-11-21', 5618),
 ('2024-11-22', 7704),
 ('2024-11-23', 5934),
 ('2024-11-24', 6426),
 ('2024-11-25', 5608),
 ('2024-11-26', 7466),
 ('2024-11-27', 5776),
 ('2024-11-28', 9076),
 ('2024-11-29', 7920),
 ('2024-11-30', 9242),
 ('2024-12-01', 5560),
 ('2024-12-02', 6004),
 ('2024-12-03', 5202),
 ('2024-12-04', 8680),
 ('2024-12-05', 8110),
 ('2024-12-06', 7480),
 ('2024-12-07', 7774),
 ('2024-12-08', 4788),
 ('2024-12-09', 6688),
 ('2024-12-10', 8112),
 ('2024-12-11', 6198),
 ('2024-12-12', 9196),
 ('2024-12-13', 8576),
 ('2024-12-14', 8646),
 ('2024-12-15', 6398),
 ('2024-12-16', 4908),
 ('2024-12-17', 8928),
 ('2024-12-18', 9240),
 ('2024-12-19', 5276),
 ('2024-12-20', 9028),
 ('2024-12-21', 6284),
 ('2024-12-22', 7490),
 ('2024-12-23', 5204),
 ('2024-12-24', 6048),
 ('2024-12-25', 6494),
 ('2024-12-26', 6436),
 ('2024-12-27', 6678),
 ('2024-12-28', 8808),
 ('2024-12-29', 5850),
 ('2024-12-30', 7904),
 ('2024-12-31', 8866),
 ('2025-01-01', 5504),
 ('2025-01-02', 9308),
 ('2025-01-03', 8034),
 ('2025-01-04', 8584),
 ('2025-01-05', 6954),
 ('2025-01-06', 5770),
 ('2025-01-07', 5392),
 ('2025-01-08', 4938),
 ('2025-01-09', 5882),
 ('2025-01-10', 7616),
 ('2025-01-11', 5214),
 ('2025-01-12', 8946),
 ('2025-01-13', 7972),
 ('2025-01-14', 6644),
 ('2025-01-15', 5298),
 ('2025-01-16', 5114),
 ('2025-01-17', 5890)]